<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_zahraa_tormos?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <mapping class="bean.FornecedorZht"/>
    <mapping class="bean.ClienteIar"/>
    <mapping class="bean.PromocoesZht"/>
    <mapping class="bean.FuncionarioIar"/>
    <mapping class="bean.CompraProdutoIar"/>
    <mapping class="bean.CompraIar"/>
    <mapping class="bean.VendasZht"/>
    <mapping class="bean.CompraProdutoIarId"/>
    <mapping class="bean.VendasProdutoZht"/>
    <mapping class="bean.ProdutoZht"/>
    <mapping class="bean.UsuariosIar"/>
  </session-factory>
</hibernate-configuration>
